/*******************************************************************************

  IMPORTED ASSETS

*******************************************************************************/

@import url("assets.css");

/*******************************************************************************

  LAYOUT

*******************************************************************************/

/**
 * ELEMENT. a sane primitive foundation.
 *
 * responsible for defaulting each element to the more rational flexbox
 * behaviors and ensuring that all components calculate the border and padding
 * as part of an element's width.
 *
 * utilize by referencing the flexbox properties to enhance or modify the the
 * behaviours of each element.
 */
* {
  display:        flex;                                                         display: -webkit-flex;
  flex-direction: column;                                                       -webkit-flex-direction: column;
  box-sizing:     border-box;
  margin:         0;
  padding:        0;
}
a, span, em, strong, img, input[type=checkbox], input[type=radio] {
  display: inline;
}
label, p,
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=file],
input[type=submit],
select,
textarea,
div[data-render-html] {
  display: block;
  width:100%;
}

script {
  display: none;
}

head { height: 0; } /* hide text that gets injected by pub into header */

/**
 * SECTION. the outermost, horizontal block entending to the page's edge.
 *
 * responsible for creating the vertical space around each component and setting
 * the background and foreground color schemes.  it creates an effective vertical
 * padding of 50px (when combined with the -15px offset from a row inside of its
 * container). it also defaults the background color to white and the foreground
 * to a dark grey.  flows children horizontaly.
 *
 * the section should be implemented in the html using a <header>, <footer>, or
 * <section> tag as appropriate.  these settings should be overriden explicitly
 * in a #[section-id].section-[name-here] selector.
 */
.section {
  padding-top:    65px;
  padding-bottom: 65px;
  background:     #fff;
}

/**
 * CONTAINER. the vertical, horizontally centered body centered in the page.
 *
 * responsible for centering the page's content at a readable width and creating
 * a horizontal margin of 15px. flows children vertically.
 *
 * the container should be implemented in the html as a <div> inside of the
 * section tag.  it's settings should be overridden explicily in a #[section-id]
 * .container-[description] selector.
 */
.container {
  margin-right:    auto;
  margin-left:     auto;
  margin-top:     -15px;
  margin-bottom:  -15px;
  padding-left:    15px;
  padding-right:   15px;
  width:           100%;
}
@media (min-width: 768px) {
  .container {
    width:           90%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 84%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 75%;
  }
}

/*@media (max-width: 574px) {
  .container-collapse {
    padding-left:  0;
    padding-right: 0;
  }
}*/

/**
 * ROW. a horizontal block of content that can be stacked within a container.
 *
 * responsible for  children horizontally. flows chilren horizontally on the
 * desktop and vertically on a mobile device.
 *
 * the section should be implemented in the html as a <div> inside the container
 * tag. it's settings should be overridden explicily in a #[section-id].row-
 * [description] selector.
 */
.row {
  padding-top:     15px;
  padding-bottom:  15px;
  margin-left:    -15px;
  margin-right:   -15px;
}
@media (min-width: 768px) {
  .row {
    flex-direction: row;                                                        -webkit-flex-direction: row;
  }
}

/**
 * COLUMN. a vertical block of content within a row.
 *
 * responsible for creating an even separation between the columns.
 * flows chilren vertically.
 *
 * the section should be implemented in the html as a <div> inside a row tag.
 * it's settings should be overridden explicily in a #[section-id].row-
 * [description] selector.
 */
.column {
  padding-left:  15px;
  padding-right: 15px;
}


/**
 * ELEM. a leaf of the layout hierarchy.
 *
 * responsible for maintaining a vertical separation of 15px between elements
 * within a column.
 *
 * the section should be implemented in the html as a <div> inside a row tag.
 * it's settings should be overridden explicily in a #[section-id].elem-
 * [description] selector.
 */
.elem {
  flex-direction:  row;                                                         -webkit-flex-direction: row;
  justify-content: center;                                                      -webkit-justify-content: center;
  margin-top:      15px;
  margin-bottom:   15px;
}
@media (min-width: 768px) {
  .elem {
    justify-content: flex-start;                                                -webkit-justify-content: flex-start;
  }
}

/*******************************************************************************

  FONTS

*******************************************************************************/

h1, h1 a {
  margin-bottom: 15px;
  font-family:   Raleway, sans-serif;
  font-size:     26px;
  font-weight:   300;
  line-height: 36px;
  color:         #f9a021;
}
@media (min-width: 992px) {
  h1, h1 a {
    font-size: 34px;
  }
}

h2, h2 a {
  margin-bottom: 15px;
  font-family:   Raleway, sans-serif;
  font-size:     22px;
  font-weight:   300;
  color:         #f9a021;
}
@media (min-width: 992px) {
  h2, h2 a {
    font-size: 26px;
  }
}

h3 {
  font-family: "lato";
  font-size:   16px;
  color:       #f9a021;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=file],
input[type=submit],
select,
textarea {
  padding:       6px 12px;
  margin-bottom: 15px;
  font-family:   "lato";
  font-size:     14px;
  line-height:   28px;
}

input[type=search]{
  padding:       6px 12px;
  font-family:   "lato";
  font-size:     14px;
  line-height:   20px;
}

input[type=file] {
  line-height:   normal;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  border-style:  solid;
  border-color:  #aaa;
  border-width:  1px;
}

input[type=checkbox], input[type=radio] {
  margin: 0 8px;
}

label {
  padding-left: 4px;
}

label.radio, label.checkbox, input[type=submit] {
  cursor: pointer;
}

label.required:after { content:" *"; color:#f9a021; }
label.missing:after, label.mismatched:after {
  display:inline-block;
  content:"Missing required value";
  background-color:#f9a021;
  color:#fff;
  padding:0 0.5em;
  margin-left:0.5em;
  margin-bottom:1px;
  border-width:0;
  border-radius:2px;
}
label.mismatched:after {
  content:"Confirm value does not match";
}

label.form-error:before { content:"Missing required values:"; color:#f9a021; display:block; }
label.form-error { white-space:pre; } /* show one missing field per line */

label.radio:hover, label.checkbox:hover {
  background-color: #eee;
}

p, a, label, ul, tbody {
  font-family: "lato";
  font-size:   15px;
  line-height: 24px;
  text-decoration: none;
}

a {
  color:#638fc3;
}

a:hover {
  text-decoration: underline;
}

p {
    margin-bottom: 15px;
}

div[data-render-html] li {
    display: list-item;
}

/*******************************************************************************

  PALLETES (DEPRICATE)

*******************************************************************************/

/*.white-black,
.white-black p,
.white-black a {
  color: #fff;
}


.white-blue,
.white-blue p,
.white-blue a {
  color:            #fff;
  background-color: #5E92B9;
}
.white-blue h2 {
  color: #f9a021;
}

.orange-white,
.orange-white p,
.orange-white a {
  color:            #444;
  background-color: #fff;
}
.orange-white h2 {
  color: #5E92B9;
}
.orange-white h3 {
  color: #5E92B9;
}

.orange-grey,
.orange-grey p,
.black-white span,
.black-white label,
.black-white input,
.black-white textarea {
  color:            #fff;
  background-color: #444;
}
.orange-grey a {
  color: #5E92B9;
}
.orange-grey .button {
  background-color: #5f90db;
}
.orange-grey h2 {
  color: #f9a021;
}

.black-white,
.black-white p,
.black-white a,
.black-white span,
.black-white label,
.black-white input {
  color:            #555;
  background-color: #fff;
}
.black-white a:hover {
  color: #7dc243;
}

.green-white,
.green-white p,
.green-white a {
  color:            #fff;
  background-color: #7dc243;
}
.green-white a:hover {
  color: #ccc;;
}
.green-white .button {
  background-color: #5f90db;
} */

/*******************************************************************************

  COMPONENTS

*******************************************************************************/

/**
 * BUTTON. a thing you click to do stuff.
 *
 * responsible for styling a box around a an element that looks and behaves like
 * a button.
 * may be used inside the navbar to render a button
 */
.button,
.button a,
.button input[type=submit] {
  flex-direction: row;                                                          -webkit-flex-direction: row;
  justify-content: center;                                                      -webkit-justify-content: center;
  padding:         16px 10px;
  border-width:    0;
  border-radius:   5px;
  text-transform:  uppercase;
  text-align:      center;
  letter-spacing:  2px;
  color:           #fff;
}

/**
 * MENU.  lays an unordered list out into a menu.
 */
.menu {
  flex-direction: row;                                                          -webkit-flex-direction: row;
  margin-left:    -15px;
  margin-right:   -15px;
}

.menu-item {
  padding-left:  8px;
  padding-right: 8px;
}

.menu-item a {
  line-height: 100%;
  text-align: center;
}

.menu-item a:hover {
  text-decoration: none;
}

/*******************************************************************************

  SECTIONS

*******************************************************************************/

/** body section (prizes, funding) ********************************************/

#content.section-content {
  background-color: #fff;
}

#content h3, h2 {
  margin-bottom: 10px;
}

/*#content h2,
#content h2 a {
  color:         #f9a021;
}*/

#content p {
  margin-bottom: 15px;
}

#content p + h2 {
  margin-top: 30px;
}

#content img {
  padding-bottom: 15px;
}

#content .button {
  width:            100%;
  background-color: #f9a021;
}
@media (min-width: 768px) {
  #content .button {
    width:            300px;
  }
}

/** about page template *******************************************************/

.about-banner {
  width: 100%;
  height: auto;
  margin-bottom: -3px;
  padding: 0;
}
.about-banner img {
  width: 100%;
}

/** add solutions page ********************************************************/

#add-solutions.section-add-solutions {
  background-color: #fff;
}

/*#add-solutions h2 {
  margin-top:    15px;
  margin-bottom: 15px;
  color:         #f9a021;
}*/

#add-solutions .column-add-solutions {
  width: 100%;
}

#add-solutions .button {
  margin-top:    30px;
  padding:       15px;
  background-color: #f9a021;
}

/** accelerate section (project accelerator) **********************************/

#accelerate.section-accelerate {
  color:            #fff;
  background-color: #444;
}

#accelerate h2 {
  color: #fff;
  text-align: center;
}

#accelerate img {
  margin-bottom: 15px;
}

#accelerate .column-accelerate {
  align-items: center;
}
@media (min-width: 768px) {
  #accelerate .column-accelerate {
    width: 25%;
  }
}

/** banner section (all but home, search) *************************************/

#banner.section-banner {
  position:            relative;
  display:             block; /* needed for ff */
  border-bottom-width: 20px;
  border-bottom-style: solid;
  border-bottom-color: #638fc3;
}

#banner p {
  color: #fff;
}

#banner .section-banner-wedge {
  position:    relative;
  padding-top: 95%;
  overflow:    hidden;
}
@media (min-width: 575px) {
  #banner .section-banner-wedge {
    padding-top: 30%;
  }
}

#banner img {
  position: absolute;
  top:      0;
  left:     -200px;
  width:    317%;
  z-index:  -1;
}
@media (min-width: 575px) {
  #banner img {
    width:  100%;
    left:   0;
  }
}

#banner .container-banner {
  position:        absolute;
  justify-content: center;                                                      -webkit-justify-content: center;
  left:            0;
  right:           0;
  top:             0;
  bottom:          0;
}

#banner .row-banner {
  justify-content: flex-end;                                                    -webkit-justify-content: flex-end;
  align-items:     flex-end;                                                    -webkit-align-items:     flex-end;
}
@media (min-width: 575px) {
  #banner .row-banner {
    height:          100%;
  }
}

#banner .column-banner-feature {
  background-color: rgba(0,0,0,.7);
  padding:          30px;
  z-index:            -1;
}

@media (min-width: 575px) {
  #banner .column-banner-feature {
    height:       100%;
    width:        447px;
    margin-right: 15px;
    margin-left:  15px;
  }
}

/** banner home sections (home page) ******************************************/

/**
 * this element overlays the fixed image in the background, maintaing the aspect
 * ratio using the padding-top/bottom percentage hack (vertical padding is tied
 * to the horizontal width). unlike the banner image, it cannot use fixed
 * positioning because it scrolls with the page.
 */
#banner-home.section-banner-home {
  position:            relative;
  display:             block;
  border-bottom-width: 20px;
  border-bottom-style: solid;
  border-bottom-color: #7dc243;
}

#banner-home h1 {
  margin-bottom: 10px;
  text-align:    justify;
  color:         #fff;
}

#banner-home p {
  color: #fff;
}

/**
 * element placed behind the image to facilitate the fade-to-black effect
 */
#banner-home .underlay {
  position:         absolute;
  left:             0;
  right:            0;
  top:              0;
  bottom:           0;
  z-index:          -1;
  background-color: #000;
}

#banner-home .section-banner-wedge {
  padding-top: 128%;
}
@media (min-width: 575px) {
  #banner-home .section-banner-wedge {
    padding-top: 48%;
  }
}

/**
 * fixed to the viewport behind, but not within, the banner element to create a
 * parallax effect.
 */
#banner-home img {
  position:    fixed;
  top:         71px;
  width:       317%;
  margin-left: -200px;
  z-index:     -1;
}
@media (min-width: 575px) {
  #banner-home img {
    width:  120%;
    margin: 0;
  }
}
@media (min-width: 768px) {
  #banner-home img {
    top: 77px;
  }
}
@media (min-width: 992px) {
  #banner-home img {
    top: 83px;
  }
}
@media (min-width: 1200px) {
  #banner-home img {
    top: 98px;
  }
}

/**
 * make the container fill the section
 */
#banner-home .container-banner {
  position:        absolute;
  justify-content: center;                                                      -webkit-justify-content: center;
  left:            0;
  right:           0;
  top:             0;
  bottom:          0;
}

#banner-home .row-banner {
  justify-content: flex-end;                                                    -webkit-justify-content: flex-end;
  align-items:     flex-end;                                                    -webkit-align-items:     flex-end;
}

#banner-home .column-banner-feature {
  background-color: rgba(0,0,0,.7);
  padding:          15px;
}
@media (min-width: 575px) {
  #banner-home .column-banner-feature {
    width: 447px;
  }
}

/**
 * fight against poverty...
 */
#banner-home .column-banner-feature {
  background-color: inherit;
}

/**
 * mission text
 */
#banner-home .column-banner-feature p {
  padding:          15px;
  font-size:        12px;
  line-height:      24px;
  letter-spacing:   1px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom:    15px;
  text-align:    justify;
}

@media (min-width: 768px) {
  #banner-home .column-banner-feature p {
    background-color: rgba(100, 100, 100, 0.30);
    font-size: 14px;
  }
}

#banner-home .menu-banner-buttons {
  margin-left: -8px;
  margin-right: -8px;
}
#banner-home .menu-item-banner {
  flex-basis: 100%;                                                             -webkit-flex-basis: 100%;
}
#banner-home .button-banner {
  background-color: #F2A028;
}

/** banner search section *****************************************************/

#banner-search.section-banner-search {
  position:            relative;
  border-bottom-width: 60px;
  border-bottom-style: solid;
  border-bottom-color: #638fc3;
}

#banner-search img {
  width:       100%;
  margin-left: -200px;
  z-index:     -1;
}
@media (min-width: 575px) {
  #banner-search img {
    width:  100%;
    margin: 0;
  }
}

#banner-search .container-banner-search {
  position:        absolute;
  justify-content: center;                                                      -webkit-justify-content: center;
  align-items:     flex-end;                                                    -webkit-align-items:     flex-end;
  left:            0;
  right:           0;
  top:             0;
  bottom:          0;
}

#banner-search .column-banner-search {
  height:           100%;
  width:            100%;
}
@media (min-width: 575px) {
  #banner-search .column-banner-search {
    width: 477px;
  }
}

#banner-search .banner-search-input {
  padding:          10px;
  font-size:        26px;
  width:            100%;
  background-color: rgba(0, 0, 0, 0.4);
  border:           none;
  color:            #ddd;
}

#banner-search .menu-banner-search {
  position:        absolute;
  justify-content: space-between;                                               -webkit-justify-content: space-between;
  align-items:     center;                                                      -webkit-align-items:     center;
  height:          60px;
  left:            15px;
  right:           15px;
  bottom:         -45px;
}

#banner-search .menu-item-banner-search a {
  text-align: center;
}

#search-clear, #search-count {
  position:absolute;
  top:4px;
  right:12px;
  cursor:pointer;
  line-height:2;
  opacity:0.5;
  color:#bbb;
}
#search-clear:hover { opacity:1; }
#search-clear:before { content:"\f05c"; }

#search-count {
  right:40px;
  top:10px;
}



/** banner category section ***************************************************/

#banner-solutions.section-banner-solutions {
  position:            relative;
  overflow:            hidden;
}

#banner-solutions img {
  display: none;
  width:       317%;
  margin-left: -200px;
  z-index:     -1;
}
@media (min-width: 768px) {
  #banner-solutions img {
    display: flex;
    width: 50%;
    margin: 0;
  }
}

#banner-solutions .container-banner-solutions {
  position:        absolute;
  justify-content: center;                                                      -webkit-justify-content: center;
  align-items:     flex-end;                                                    -webkit-align-items:     flex-end;
  left:            0;
  right:           0;
  top:             0;
  bottom:          0;
}

#banner-solutions .row-banner-solutions {
  height: 90%;
  justify-content: flex-end;
}

#banner-solutions .column-banner-solutions-right {
  width:      50%;
}
/*@media (min-width: 575px) {
  #banner-search .column-banner-solutions {
    width: 477px;
  }
}*/

#banner-solutions .column-banner-solutions-right img {
  position:    absolute;
  margin-top:  15px;
  width:       50px;
}
#banner-solutions .column-banner-solutions-right h1 {
  padding-top:    20px;
  padding-left:   62px;
}


/** categories menu section (solutions) ***************************************/

#categories-menu.section-categories-menu {
  margin:           0;
  background-color: #638fc3;
}

#categories-menu .row-categories-menu-items {
  justify-content: space-between;
  color:           #fff;
  text-align:      center;
  align-items:     center;
}

#categories-menu .menu-item-banner-solutions {
  margin-top:    15px;
  margin-bottom: 15px;
}


#categories-menu .menu-item-banner-solutions a {
  color: #fff;
}

#categories-menu .menu-item-banner-solutions a:hover {
  color: #7dc243;
}

/** sub-categories menu section (solutions) ***************************************/

#sub-categories-menu .row-sub-categories-menu-items {
  color:           #fff;
  text-align:      left;
  display:          block;
}

#sub-categories-menu .menu-item {
  padding-left: 0px;
  padding-right: 0px;
}

#sub-categories-menu  a {
    margin-top:    10px;
    margin-bottom: 5px;
}

#sub-categories-menu .sub-cats a {
    padding-left:   20px;
}

@media (min-width: 768px){
#sub-categories-menu .row-sub-categories-menu-items a {
    text-align:     left;
}
}

@media (max-width: 768px){
#sub-categories-menu .sub-cats a {
    display: none;
}
}

#sub-categories-menu .top-cat a {
  color: #fff;
  background-color: #678bcc;
  padding:    15px;
  width: 100%;
}

@media (max-width: 768px) {
#sub-categories-menu a {
margin-top: 0;
margin-bottom: 0;
}
}

@media (max-width: 768px) {
#sub-categories-menu .menu-item {
  padding: 0;
}
}

#sub-categories-menu .container {
  margin-left: 0px;
  margin-right: 0px;
}

@media (min-width: 768px) {
#sub-categories-menu .container {
  width: 100%;
}
}

@media (min-width: 768px) {
 .column-subs-left {
    width: 20%;
    padding-right: 0;
}
.column-subs-right {
    width: 85%;
    padding-left: 0px;
  }
}
.row-subs {
  padding: 0px;
   box-sizing: content-box;
}


/** blog sections (stories from the field) ************************************/

.section-summary img {
  width:         100%;
  min-height:       0;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .section-summary .column-section-summary-left {
    width: 33%;
  }
}

@media (min-width: 768px) {
  .section-summary .column-section-summary-right {
    width: 66%;
  }
}

@media (min-width: 768px) {
  .column-imageside-left-summary-left {
    width: 40%;
  }
}

@media (min-width: 768px) {
   .column-imageside-left-summary-right {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .column-imageside-right-summary-left {
    width: 60%;
  }
}

@media (min-width: 768px) {
   .column-imageside-right-summary-right {
    width: 40%;
  }
}

.column-imageside-left-summary-right p{
  padding:          8px;
  line-height: 36px;
  font-size: 25px;
}

.column-imageside-right-summary-left p{
  padding:          8px;
  line-height: 36px;
  font-size: 25px;
}

#video .column-imageside-summary-left p{
  padding:          8px;
  line-height: 36px;
  font-size: 25px;
}

#video .column-imageside-summary-left a{
    color: #638fc3;
    font-size: 25px;
}

#right-image {
  background-color: #eee
}

.section-summary .button {
  color:             #fff;
  background-color:  #F2A028;
}
@media (min-width: 768px) {
  .section-summary .button {
    width: 350px;
  }
}

#story .story-author img{
padding: 10px;
}

@media (max-width: 768px) {
  #story .story-author img{
  display: none;
  }

}


#story .story-author {
  background-color: #f1f1f1;
  text-align: center;
  padding-right: 10px;
  justify-content:  space-between;                                               -webkit-justify-content: space-between;
  flex-direction:   row;
}

#story .story-author p{
  padding-top:30px;
}

#story img{
  width: 100%;
  min-height: 0;
  padding-bottom:10px;
}

@media (min-width: 768px) {
  #story .column-story-left {
    width: 33%;
  }
  #story .column-story-right {
    width: 66%;
  }
}

.column-author-left{
  width: 100%;
}

/** Search results styling ***********************************************/

#search-form > ul {
  max-height: 400px;
  /*width: 400px;*/
  overflow-y: scroll;
  border: solid 1px #ccc;
  }

#search-form li a {
     display:block; padding-left:16px;
}

#q-list.show {
  display: block !important;
}

@media (max-width: 768px) {
  #header .searchicon {
    display: none;
  }
}

#header .searchicon.vanish{
  display: none;
}

/*@media (max-width: 768px) {
  #header div.column.column-search {
    width: 100%;
  }
}*/

@media (max-width: 768px) {
 #header .searchbox {
  display: none;
}
}

#header .searchbox.large {
  width: 50%;
  display: block;
}

#q-list{
  position: absolute;
  background-color: #fff;
  top: 50px;
  display: none;
  width: 400px;
}

@media (min-width: 1288px) {
 #q-list{
   top: 55px;
}
}

#q-list a{
line-height: 40px;
}

#search-form .selected {
  background-color: #eee;
  font-weight: bold;
  color: #eee;
  /*padding-left: 10px;*/
}

#search-form a:hover{
  color: #555 !important;
  background-color: #eee;
  font-weight: bold;
  text-decoration: none;
}

.searchitem.solutions{
  /*font-weight: bold;*/
  background-color: #638fc3;
  font-size: 25px;
  color: #fff;
  border-bottom: solid 1px #ccc;

}

#header .searchitem.solutions a {
    color: #fff;
    /*font-size: 15px;*/
}

#header .searchitem.solution a {
    color: #f9a021;
}

#header .searchitem.solutions.selected a {
    color: #555;
}

#header .searchitem.solution.selected a {
    color: #555;
}
/** contact-PA section (solution pages) ***********************************************/

#contact-PA.section-contact-PA {
  background-color: #eee;
}

#contact-PA p {
  font-style: italic;
  font-size: 20px;
}

#contact-PA a {
  font-style: italic;
  font-size: 20px;
}

/** contact section (home page) ***********************************************/

#contact.section-contact {
  background-color: #444;
}

#contact p {
  color:         #fff;
  margin-bottom: 15px;
}

#contact a {
  color:           #fff;
  text-decoration: underline;
}

#contact .button {
  margin-top:        30px;
  padding:           15px;
  background-color:  #5E92B9;
}


#contact .column-space {
  flex-basis: 6%;
}

@media (min-width: 768px) {
  #contact .column-contact {
    flex-basis: 47%;
  }
}


#contact .column-contact-copy p {
  display: inline;
}

#contact .label-contact {
  margin-left:   6px;
  margin-top:    10px;
  margin-bottom: 6px
}

#contact #message {
  height: 8em;
}

/** description section (project accelerator) **********************************/

#description.section-description {
  color:            #fff;
  background-color: #444;
}

/** donate section (take action) **********************************************/

#donate.section-donate {
  background-color: #ececec;
}

#donate .column {
  margin-bottom: 15px;
}

#donate .column-left {
  align-items: center;
}

#donate .button {
  width:            100%;
  background-color: #f9a021;
}
@media (min-width: 768px) {
  #donate .button {
    width:            300px;
  }
}

/** footer section (all pages) ************************************************/

#footer.section-footer {
  background-color: #7dc243;
}

#footer p,
#footer a {
  color: #fff;
}

#footer a:hover {
  color: #ddd;
}

#footer .button {
  background-color:  #5E92B9;
}

#footer .column-footer-left {
  justify-content: center;
  align-items:     center;
}

#footer .elem-footer-center {
  justify-content: center;
  text-align:      center;
}

#footer .column-footer-right {
  justify-content: space-between;
  text-align:      center;
  /*justify-content: space-between;*/
}
@media (min-width: 768px) {
  #footer .column-footer-right {
    width: 380px;
  }
}

#footer .menu-footer {
  justify-content: center;
}

#footer .menu-item-footer-icon {
  padding-left:  10px;
  padding-right: 10px;
}

#footer .h3-footer {
  margin-bottom: 12px;
}

#footer .icon-social {
  width:             26px;
  height:            26px;
  background-size:   cover;
  background-repeat: no-repeat;
}

#footer .elem-footer-legal {
  font-size: 11px;
}

/** form section **************************************************************/

#form.section-form {
  background-color: #fff;
}

#form .column {
  width: 100%;
}

#form .button {
  margin-top:        15px;
  padding:           15px;
  background-color:  #5E92B9;
}


/** studies section ***********************************************************/


#case-studies.section-case-studies {
  background-color: white;
}
#case-studies .line {
  padding: 30px 30px 0;
  border-top: 5px solid #f9a021;
  margin-top: 50px;
  color: #f9a021;
}
#case-studies ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: column;
}
#case-studies li {
  width: 100%;
}
#case-studies .overlay {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}
#case-studies img {
  width: 100%;
}

/** header section (all pages) ************************************************/

#header.section-header {
  position:            fixed;
  width:               100%;
  padding-top:         14px;
  padding-bottom:      14px;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: #969696;
  z-index:             1000;
}

#header a {
  color: #555;
}
#header a:hover {
  color: #7dc243;
}

#header .row-header {
  flex-direction: row;
  justify-content: space-between;
}

#header .column-header-right {
  justify-content: center;
}

#header .column-search{
  width :50%;
  padding-bottom:10px;
}

@media (min-width: 768px) {
  #header .column-header-right {
    justify-content: flex-end;
  }
}

#header .logo-techxlab {
  width:             158px;
  height:            41px;
  background-size:   100%;
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  #header .logo-techxlab {
    width:  180px;
    height: 47px;
  }
}
@media (min-width: 1200px) {
  #header .logo-techxlab {
    width:  240px;
    height: 62px;
  }
}

.hamburger {
  flex-direction: column;
  border:           none;
  background-color: inherit;
  outline:          none;
  cursor:           pointer;
}
.hamburger span.bar {
  height:           4px;
  width:            36px;
  margin:           4px;
  background-color: #999;
}

@media (min-width: 768px) {
  #header .hamburger {
    display: none;
  }
}

#header .menu-header {
  position:       fixed;
  display:        none;
  top:            77px;
  left:              0;
  right:             0;
  flex-direction: column;
  background-color: #fff;
  text-transform: uppercase;
  padding: 15px;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: #969696;
}
@media (min-width: 768px) {
  #header .menu-header {
    position: static;
    align-items: flex-end;
    left: auto;
    right: auto;
    flex-direction: row;
    display:        flex;
    padding: 0;
    padding-right:  7px;
    border-bottom-style: none;
  }
}

.show {display: flex !important;}

#header .menu-item {
  margin-top:    15px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  #header .menu-item {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#header .menu-item a {
  font-size: 18px;
}
@media (min-width: 768px) {
  #header .menu-item a {
    font-size: 14px;
  }
}

/** header shim section *******************************************************/

#header-shim.section-header-shim {
  height:              75px;
}

@media (min-width: 768px) {
  #header-shim.section-header-shim {
    height: 101px;
  }
}

@media (min-width: 1080px) {
  #header-shim.section-header-shim {
    height: 91px;
  }
}

@media (min-width: 1200px) {
  #header-shim.section-header-shim {
    height: 105px;
  }
}

@media (min-width: 1288px) {
  #header-shim.section-header-shim {
    height: 94px;
  }
}



/** menu main section (all) ***************************************************/

#menu-main.section-menu-main {
  position:         fixed;
  display:          none;
  top:              77px;
  width:            100%;
  z-index:           1;
  background-color: #666;
}
@media (min-width: 768px) {
  #menu-main.section-menu-main {
    position: static;
    display:  flex;
    height:   200px;
  }
}

.show {display: flex !important;}

#menu-main p {
  font-weight: 300;
  font-size: 20px;
}

#menu-main .container-menu-main {
  position: relative;
}

#menu-main .menu-menu-main {
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  #menu-main .menu-menu-main {
    flex-direction: row;
  }
}

#menu-main .menu-item-name {
  margin-top:    15px;
  margin-bottom: 15px;
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size:   20px;
  color:       #fff;
}
@media (min-width: 768px) {
  #menu-main .menu-item-name {
    margin-top:    0;
    margin-bottom: 0;
  }
}

#menu-main .menu-item-caption {
  display:       none;
  padding-left:  8px;
  padding-right: 8px;
  margin-top:    30px;
  font-family:   Raleway, sans-serif;
  font-size:     16px;
  color:         #fff;
}

@media (min-width: 768px) {
  #menu-main .selected .menu-item-name  {
    justify-content: space-between;
    color:               #7dc243;
    padding-bottom:      6px;
    border-bottom: solid 2px #7dc243;
  }
}

@media (min-width: 768px) {
  #menu-main .selected .menu-item-caption {
    position: absolute;
    display:  flex;
    left:     0;
    right:    0;
  }
}

/** participate section (take action) *****************************************/


#participate p {
  margin-bottom: 15px;
}

#participate img {
  padding-bottom: 15px;
}

#participate .button {
  width:            100%;
  background-color: #f9a021;
}
@media (min-width: 768px) {
  #participate .button {
    width:            300px;
  }
}

/** partners section (home, accelerator, about) *******************************/

#partners.section-partners {
  background-color: #fff;
}

#partners .row-partners {
  justify-content: space-between;
  flex-wrap:       wrap;
  align-items:     center;
}

#partners .logo-partners {
  margin: 15px;
  width:  200px;
}

#video {
  background-color: #eee;
}

/** persons section (about) ***************************************************/

#persons.section-persons {
  background-color: #eee;
}

#persons h1 {
  color:         #638fc3;
}

#persons h2 {
  color:         #333;
  font-weight:   500;
  font-size:     16px;
  padding-top:   2px;
  margin-bottom: 5px;
}

#persons h3 {
  color:      #999;
  font-size:  12px;
  padding-bottom: 15px;
}

#persons .row-persons {
  justify-content: space-between;
  flex-wrap:       wrap;
}

#persons .item-person {
  margin:           15px;
  text-align:       center;
  align-items:      center;
  cursor:           pointer;
}
@media (min-width: 768px) {
  #persons .item-person {
    width: 150px;
  }
}

#persons .item-person img {
  width: 160px;
}

@media (min-width: 768px) {
  #persons .item-person p {
    display: none;
  }
}

@media (min-width: 768px) {
  #persons .item-person.selected {
    position:         fixed;
    padding:          50px;
    background-color: #fff;
    align-items:      center;
    margin-left:      -400px;
    margin-top:       -400px;
    width:            800px;
    height:           800px;
    top:              50%;
    left:             50%;
    z-index:          9999;
    border-style: solid;
    border-color: #969696;
    border-width: 2px;
  }
}

@media (min-width: 768px) {
  #persons .item-person.selected p {
    display: block;
  }
}

#persons .x {
  position:     absolute;
  display:      none;
  right:        16px;
  top:          12px;
  font-family: 'lato';
  font-size:    28px;
  font-weight:  bold;
  color:        #aaa;
}
#persons .x:hover {
  color: #7dc243;
}
@media (min-width: 768px) {
  #persons .item-person.selected .x {
    display:      block;
  }
}

/** modal overlay util (about-us popups) **************************************/

@media (min-width: 768px) {
  #modal-overlay {
    position:         fixed;
    display:          none;
    left:             0;
    right:            0;
    top:              0;
    bottom:           0;
    z-index:          9999;
    background-color: rgba(0,0,0,.8);
  }
}

/** product categories section (home) *****************************************/

#solution-categories .elem-product-categories {
  flex-wrap: wrap;
}

#solution-categories .elem-product-categories li {
  position: relative;
  padding: 10px;
}
#solution-categories .elem-product-categories li:hover .name,
#solution-categories .elem-product-categories li:hover .overlay {
  opacity: 0;
}

#solution-categories .elem-product-categories img {
  width:      100%;
  min-height: 0;
}

#solution-categories .elem-product-categories a {
  position:        absolute;
  display:         flex;
  align-items:     center;
  justify-content: center;
  top:             0;
  right:           0;
  bottom:          0;
  left:            0;
  font-family:     Raleway, sans-serif;
  font-size:       16px;
  color:           #fff;
  background-color: inherit;
  transition:       opacity 0.3s ease-in-out;
}
@media (min-width: 768px) {
  #solution-categories .elem-product-categories a {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  #solution-categories .elem-product-categories a {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  #solution-categories .elem-product-categories a {
    font-size: 18px;
  }
}

#solution-categories .elem-product-categories .overlay {
  position:     absolute;
  display:          flex;
  left:             10px;
  right:            10px;
  top:              10px;
  bottom:           12px;
  opacity:           0.4;
  transition:       opacity 0.3s ease-in-out;
  background-color: #000 !important;
}

#solution-categories .elem-product-categories li {
  flex-basis: 50%;
}

@media (min-width: 768px) {
  #solution-categories .elem-product-categories li {
    flex-basis: 25%;
  }
}

/** quotes section (home, accelerator) ****************************************/

#quotes.section-quotes {
  padding-top: 0;
}

#quotes p {
  color:       #666;
  font-size:   20px;
  line-height: 30px;
}

#quotes .elem-flexslider {
  margin-top: 15px;
}
#quotes .elem-flexslider * {
  display: inline-block;
}
#quotes .flex-active {
  background-color: #f9a021;
}
#quotes .statement {
  font-style:    italic;
  margin-right:  1px;
  margin-bottom: 15px;
}
#quotes .source {
  display:    flex;
  text-align: right;
}

/** sign in section (sign in page) ********************************************/

#sign-in .column-sign-in {
  flex-basis: 50%;
}

#sign-in .button-sign-in {
  margin-top: 15px;
  text-align: center;
}

/** sign up section (sign up page) ********************************************/

#sign-up .column {
  width: 100%;
}

#sign-up .button {
  margin-top:        30px;
  padding:           15px;
  background-color:  #5E92B9;
}

/** solution section **********************************************************/

#solution h3 {
  padding-bottom: 15px;
}

#solution .column-solution-left {
  max-width:320px;
}

@media (min-width: 768px) {
  #solution .column-solution-left {
    width: 33%;
  }
  #solution .column-solution-right {
    width: 66%;
  }
}

#solution img {
  width:          100%;
  min-height:     0;
  padding-bottom: 15px;
}

#solution iframe {
  padding-top: 15px;
  min-height:350px;
  max-width:600px;
}

/** solutions section *********************************************************/

#solutions.section-solutions {
  padding-top:      15px;
  padding-bottom:   15px;
  background-color: #bbb;
  color:            #555;
}

#solutions .h1-solutions {
  margin:       0 4px;
  font-size:    18px;
  font-weight:  300;
  text-align:   left;
  line-height:  18px;
}
#solutions a .h1-solutions {
  color: #555;
}
#solutions a:hover + .h1-solutions {
  color: #F2A028;
}

#solutions .h2-solutions {
  margin-top:    10px;
  margin-bottom: 10px;
  font-size:     16px;
}

#solutions p {
  margin-bottom: 12px;
}

#solutions .container-solutions {
  width: 100%;
}

#solutions .row-solutions {
  justify-content: center;
  flex-wrap:       wrap;
}

#solutions .solution-list-item {
  margin:           8px;
  background-color: #fff;
  border-radius:    6px;
  border-style:     solid;
  border-color:     #999;
  border-width:     1px;
}
@media (min-width: 768px) {
  #solutions .solution-list-item {
    width: 364px;
  }
}

#solutions .header-solution-list-item {
  flex-direction: row;
  align-items:    center;
  align-content:  center;
  padding-top:    8px;
  padding-bottom: 8px;
  padding-left:   4px;
  padding-right:  4px;
  font-family:    Raleway, sans-serif;
  font-size:      22px;
  line-height:    18px;
}

#solutions .header-solution-list-item img {
  width:        42px;
  margin-left:  4px;
  margin-right: 4px;
}

#solutions .solution-list-item-image img {
  display: block;
  width: auto;
  max-width: 100%;
  max-height: 320px;
  margin: auto;
}

#solutions .solution-list-item-body {
  /* height:        100%; */
  margin:        14px;
}

#solutions .row-solutions-buttons {
  justify-content:  space-between;                                               -webkit-justify-content: space-between;
  padding-top:      8px;
  padding-bottom:   8px;
  padding-left:     15px;
  padding-right:    15px;
  flex-direction:   row;
  background-color: #969696;
  align-items:      center;
}

#solutions .row-solutions-buttons h3 {
  color: #fff;
  font-weight: 500;
}

#solutions .button-solutions {
  font-size:        28px;
  font-family:      'lato';
  padding:          4px;
  color:            #aaa;
}
#solutions .button-solutions.enabled {
  color: #fff;
}


/** take action section (home page) *******************************************/

#action.section-take-action {
  background-color: #5E92B9;
}

#action h1 {
  position:         absolute;
  background-color: #fff;
  padding:          8px;
}

#action h2 {
  font-size:     32px;
  font-weight:   400;
  margin-left:   10px;
  margin-bottom: 0;
  color:         #fff;
}

#action p {
  color: #fff;
}

#action .row-take-action-center {
  margin-top: 50px;
  justify-content: center;
}

#action .row-underline {
  align-items:    baseline;
  flex-direction: row;
  margin-top:     20px;
  margin-bottom:  20px;
  margin-right: 0;
  margin-left:  0;
  padding-bottom: 12px;
  border-bottom:  solid 2px #fff;
  color:          #fff;
}

@media (min-width: 768px) {
  #action .row-underline {
    margin-right: -15px;
    margin-left:  -15px;
  }
}

#action .row-take-action-divider {
  padding-top:     100px;
  justify-content: center;
}

@media (min-width: 768px) {
  #action .column-take-action-side {
    flex-basis: 35%;
  }
}

#action .column-take-action-divider {
  display:    none;
  text-align: center;
  flex-basis: 8%;
}
@media (min-width: 768px) {
  #action .column-take-action-divider {
    display:  flex;
  }
}
#action .column-take-action-divider p {
  font-size: 42px;
}
