### ignore #####################################################################

*.ign

### OSX ########################################################################

.DS_Store

### BOOT #######################################################################

/.boot/

### LEININGEN ##################################################################

.lein-*

### MAVEN ######################################################################

*.jar
*.war
pom.xml

### NREPL ######################################################################

.repl-*
.nrepl-*

### EMACS ######################################################################

[#]*[#]

### VIM ########################################################################

*.swn
*.swo
*.swp

### NODE #######################################################################

env
node_modules/

### PROJECT ####################################################################

tgt
ast
